In [1]:
import os
import pandas as pd
import numpy
import urllib.request, json
import time
from datetime import date
import requests

In [4]:
df=pd.read_csv("useful/recr_visits_2020.csv")
park_df= df[["Park","Rank", "Recreation Visits", "% of Total"]]
park_df

                                 Park   Rank  Recreation Visits % of Total
0                     Blue Ridge PKWY    1.0         14099485.0      5.95%
1                     Golden Gate NRA    2.0         12400045.0      5.23%
2            Great Smoky Mountains NP    3.0         12095720.0      5.10%
3                         Gateway NRA    4.0          8404728.0      3.55%
4                       Lake Mead NRA    5.0          8016510.0      3.38%
..                                ...    ...                ...        ...
376                     Nicodemus NHS  377.0              262.0      0.00%
377                   Rio Grande W&SR  378.0              126.0      0.00%
378  Port Chicago Naval Magazine NMEM  379.0               70.0      0.00%
379               Aniakchak NM & PRES  380.0               36.0      0.00%
380                               NaN    NaN                NaN        NaN

[381 rows x 4 columns]