In [2]:
import os
import pandas as pd
import numpy
import urllib.request, json
import time
from datetime import date
import requests
import pymongo

In [7]:
file = "./data/Clean_Annual Park Ranking Report 2017.csv"
df= pd.read_csv(file)
df.head()

   Year                     ParkName  Rank    Value  PercentOfTotal
0  2017           Natchez Trace PKWY     7  6124808          0.0258
1  2017  Chesapeake & Ohio Canal NHP     8  4888436          0.0206
2  2017                  Cape Cod NS     9  4083505          0.0172
3  2017       Delaware Water Gap NRA    10  4068529          0.0172
4  2017              Gulf Islands NS    11  4012129          0.0169

In [8]:
Report2017_df =df.loc[(df["Rank"]<13)]
Report2017_df

   Year                     ParkName  Rank    Value  PercentOfTotal
0  2017           Natchez Trace PKWY     7  6124808          0.0258
1  2017  Chesapeake & Ohio Canal NHP     8  4888436          0.0206
2  2017                  Cape Cod NS     9  4083505          0.0172
3  2017       Delaware Water Gap NRA    10  4068529          0.0172
4  2017              Gulf Islands NS    11  4012129          0.0169
5  2017               Yellowstone NP    12  3806306          0.0161

In [9]:
list(Report2017_df.columns.values)

['Year', 'ParkName', 'Rank', 'Value', 'PercentOfTotal']

In [10]:
Report2017_df.dtypes

Year                int64
ParkName           object
Rank                int64
Value               int64
PercentOfTotal    float64
dtype: object

In [14]:
#Output pandas dataframe into CSV file

Report2017_df.to_csv("./data/visits_2017.csv")