In [1]:
import os
import pandas as pd
import numpy
import urllib.request, json
import time
from datetime import date
import requests
import pymongo

In [3]:
file = "./data/Clean_Annual Park Ranking Report- 2019.csv"
df= pd.read_csv(file)
df.head()

   Year                  ParkName  Rank     Value  PercentOfTotal
0  2019           Blue Ridge PKWY     1  14099485          0.0595
1  2019           Golden Gate NRA     2  12400045          0.0523
2  2019  Great Smoky Mountains NP     3  12095720          0.0510
3  2019               Gateway NRA     4   8404728          0.0355
4  2019             Lake Mead NRA     5   8016510          0.0338

In [5]:
Report2019_df =df.loc[(df["Rank"]<6)]
Report2019_df

   Year                  ParkName  Rank     Value  PercentOfTotal
0  2019           Blue Ridge PKWY     1  14099485          0.0595
1  2019           Golden Gate NRA     2  12400045          0.0523
2  2019  Great Smoky Mountains NP     3  12095720          0.0510
3  2019               Gateway NRA     4   8404728          0.0355
4  2019             Lake Mead NRA     5   8016510          0.0338

In [6]:
list(Report2019_df.columns.values)

['Year', 'ParkName', 'Rank', 'Value', 'PercentOfTotal']

In [7]:
Report2019_df.dtypes

Year                int64
ParkName           object
Rank                int64
Value               int64
PercentOfTotal    float64
dtype: object

In [8]:
#Output pandas dataframe into CSV file

Report2019_df.to_csv("./data/visits_2019.csv")