In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
import csv
import os

In [2]:
csv_file = ("./data/National Parks Ranked by Total Visitation 1904-2016 and by Year.csv")
Visitation_df= pd.read_csv(csv_file)
Visitation_df

,State,Unit Code,Unit Name,Unit Type,Visitors,YearRaw
0,CA,GOGA,Golden Gate National Recreation Area,National Recreation Area,"15,638,777",2016
1,NC,BLRI,Blue Ridge Parkway,Parkway,"15,175,578",2016
2,NC,GRSM,Great Smoky Mountains National Park,National Park,"11,312,786",2016
3,VA,GWMP,George Washington Memorial Parkway,National Parkway,"10,323,339",2016
4,NY,GATE,Gateway National Recreation Area,National Recreation Area,"8,651,770",2016
...,...,...,...,...,...,...
21169,WY,YELL,Yellowstone National Park,National Park,"13,727",1904
21170,SD,WICA,Wind Cave National Park,National Park,"2,900",1904
21171,OR,CRLA,Crater Lake National Park,National Park,"1,500",1904
21172,CA,KICA,Kings Canyon National Park,National Park,"1,000",1904
21173,WA,MORA,Mount Rainier National Park,National Park,563,1904

In [3]:
visitation_renamed_df = Visitation_df.rename(columns = {"State": "State", "Unit Name": "Park Name", 
                                                        "Visitors": "Number of Visitors", "YearRaw": "Year" })
visitation_renamed_df

,State,Unit Code,Park Name,Unit Type,Visitors,Year
0,CA,GOGA,Golden Gate National Recreation Area,National Recreation Area,"15,638,777",2016
1,NC,BLRI,Blue Ridge Parkway,Parkway,"15,175,578",2016
2,NC,GRSM,Great Smoky Mountains National Park,National Park,"11,312,786",2016
3,VA,GWMP,George Washington Memorial Parkway,National Parkway,"10,323,339",2016
4,NY,GATE,Gateway National Recreation Area,National Recreation Area,"8,651,770",2016
...,...,...,...,...,...,...
21169,WY,YELL,Yellowstone National Park,National Park,"13,727",1904
21170,SD,WICA,Wind Cave National Park,National Park,"2,900",1904
21171,OR,CRLA,Crater Lake National Park,National Park,"1,500",1904
21172,CA,KICA,Kings Canyon National Park,National Park,"1,000",1904
21173,WA,MORA,Mount Rainier National Park,National Park,563,1904

In [7]:
#Output pandas dataframe into CSV file
output_path = os.path.join('National Parks Ranked by Total Visitation 1904-2016 and by Year.csv')
print(output_path)
visitation_renamed_df.to_csv(output_path)

National Parks Ranked by Total Visitation 1904-2016 and by Year.csv