In [1]:
import os
import pandas as pd
import numpy
import urllib.request, json
import time
from datetime import date
import requests
import pymongo

In [5]:
file = "../data/Annual Park Ranking Report 2018.csv"
df= pd.read_csv(file)
df.head()

                   ParkName  Rank       Value  PercentOfTotal
0           Blue Ridge PKWY     1  14,099,485          0.0595
1           Golden Gate NRA     2  12,400,045          0.0523
2  Great Smoky Mountains NP     3  12,095,720          0.0510
3               Gateway NRA     4   8,404,728          0.0355
4             Lake Mead NRA     5   8,016,510          0.0338

In [6]:
Report2018_df =df.loc[(df["Rank"]> 0)]
Report2018_df

                             ParkName  Rank       Value  PercentOfTotal
0                     Blue Ridge PKWY     1  14,099,485          0.0595
1                     Golden Gate NRA     2  12,400,045          0.0523
2            Great Smoky Mountains NP     3  12,095,720          0.0510
3                         Gateway NRA     4   8,404,728          0.0355
4                       Lake Mead NRA     5   8,016,510          0.0338
..                                ...   ...         ...             ...
375     Klondike Gold Rush NHP Alaska   376         297          0.0000
376                     Nicodemus NHS   377         262          0.0000
377                   Rio Grande W&SR   378         126          0.0000
378  Port Chicago Naval Magazine NMEM   379          70          0.0000
379               Aniakchak NM & PRES   380          36          0.0000

[380 rows x 4 columns]

In [8]:
list(Report2018_df.columns.values)

['ParkName', 'Rank', 'Value', 'PercentOfTotal']

In [9]:
Report2018_df.dtypes

ParkName           object
Rank                int64
Value              object
PercentOfTotal    float64
dtype: object

In [11]:
#Output pandas dataframe into CSV file
output_path = os.path.join('../data/Clean_Annual Park Ranking Report 2018.csv')
print(output_path)
Report2018_df.to_csv(output_path)

../data/Clean_Annual Park Ranking Report 2018.csv